# Ignore Git and VSCode files
.git
.vscode
chromadb/my_db
# Ignore environment files
*.venv

# Ignore secrets
open_ai_key.txt
hf_key.txt
github_key.txt

# Ignore Python caches
__pycache__
*.pyc

# Ignore local data folders
models
flowise_data
Mistral-7B-Instruct-v0.3-quantized.w8a16